body {
  font-family: sans-serif;
}

.menu-bar {
  background-color: #ffffff;
  opacity: 0.7;
}

.menu-bar ul:hover {
  opacity: 1;
}

.background {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}


.main-title {
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: 1;
}

.box {
  background-color: #ffffff;
  text-align: center;
  position: relative;
  margin: 0;

}

.box img{
  width: 100%;
}

.fadein {
  position: absolute;
  top: 0%;
  left: 0%;
  visibility: hidden;
  opacity: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

.box:hover .fadein {
  visibility: visible;
  opacity: 0.6;
  transition-duration: 1.5s;
}


.modal_box1,.modal_box2,.modal_box3 {
  width: 80%;
  height: 80%;
  background-color:#ffffff;
  position: fixed;
  top: 15%;
  left: 10%;
  z-index: 4;
  display: none;  
  border: 8px double #1e90ff;
}

.modal_box1 a,.modal_box2 a,.modal_box3 a{
  color: #1e90ff;
  opacity: 0.5;
}

.modal_box1 a:hover,.modal_box2 a:hover,.modal_box3 a:hover{
  color: #1e90ff;
  opacity: 1;
  cursor: pointer;
}

.modal_content{
  color: #000000;
  width: 65%;
  height: 95%;
  z-index: 5;
  overflow: scroll;
}

.modal_content img {
  width: 100%;
  border-radius: 5%;
}




.skill-name {
  width: 15%;
  text-align: center;
  
}

.skill-name h4 {
  font-size: 12px;
  color: #ffffff;
}

#text-contents {
  line-height: 1.2;
  font-size: 18px;
  width: 65%;
}