.menu-bar {
  background-color: #ffffff;
  opacity: 0.7;
}

.menu-bar ul:hover {
  opacity: 1;
}

.background {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}


.main-title {
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: 1;
}

.box {
  background-color: #ffffff;
  text-align: center;
  position: relative;
  margin: 0;

}

.box img{
  width: 100%;
}

.fadein {
  position: absolute;
  top: 0%;
  left: 0%;
  visibility: hidden;
  opacity: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

.box:hover .fadein {
  visibility: visible;
  opacity: 0.6;
  transition-duration: 1.5s;
}

.skill-name {
  width: 15%;
  text-align: center;
  
}

.skill-name h4 {
  font-size: 12px;
  color: #ffffff;
}

#text-contents {
  line-height: 1.7;
  font-size: 18px;
  width: 65%;
}